<div class="surface-section px-4 pb-3 md:px-6 lg:px-8 text-center">
  <p-divider />
  <img
    src="https://media.licdn.com/dms/image/v2/D4D0BAQFnSz1eb7oVlQ/company-logo_200_200/company-logo_200_200/0/1715870722405/atwork_logo?e=2147483647&v=beta&t=jgxVF6Em_GLHCz_HHLRJcs3I1Jg6LeWX6WWzbpuNP2w"
    alt="Image"
    height="50"
  />
  <div class="font-medium text-900 mt-4 mb-3">© 2024 Atwork</div>
  <div class="flex align-items-center justify-content-center">
    <a
      href="https://atwork.ai/about-us/"
      target="_blank"
      rel="noopener noreferrer"
      class="cursor-pointer text-700 mr-5"
    >
      <i class="pi pi-twitter"></i>
    </a>
    <a
      href="https://www.linkedin.com/company/atwork/"
      target="_blank"
      rel="noopener noreferrer"
      class="cursor-pointer text-700 mr-5"
    >
      <i class="pi pi-linkedin"></i>
    </a>
    <a
      href="https://atwork.ai/about-us/"
      target="_blank"
      rel="noopener noreferrer"
      class="cursor-pointer text-700"
    >
      <i class="pi pi-instagram"></i>
    </a>
  </div>
</div>
