<div class="px-4 py-5">
  <div class="grid">
    <div class="p-4 col-12">
      <div
        class="flex flex-column align-items-start md:flex-row md:align-items-center md:justify-content-between"
      >
        <div class="mb-3 md:mb-0">
          <div class="text-3xl font-medium text-900 mb-3">Team Overview</div>
        </div>
      </div>
      <div class="border-2 surface-border">
        <p-toolbar styleClass="mb-4 gap-2">
          <ng-template pTemplate="left">
            <p-button
              severity="success"
              label="New"
              icon="pi pi-plus"
              class="mr-2"
              (onClick)="onNew()"
            />
            <p-button
              severity="danger"
              label="Delete"
              icon="pi pi-trash"
              [disabled]="selectedEmployees().length === 0"
              (onClick)="onDelete()"
            />
          </ng-template>
        </p-toolbar>
        <app-paginated-table
          #employeesPaginatedTable
          [dataService]="employeeService"
          [fetchMethod]="employeeService.getUserEmployees.bind(employeeService)"
          [columns]="employeesTableColumns"
          [rowActions]="employeesTableRowActions"
          [tableSelection]="tableSelectionEnum.CHECKBOX"
          [(selectedRowDatas)]="selectedEmployees"
        />
      </div>
    </div>
  </div>
</div>

<!-- Dialogs -->
@if (showCreateEmployeeDialog()) {
  <app-create-employee-dialog
    [(showDialog)]="showCreateEmployeeDialog"
    (creationSuccesfully)="onCreationSuccesfully($event)"
  />
}

@if (showEditEmployeeDialog()) {
  <app-edit-employee-dialog
    [(showDialog)]="showEditEmployeeDialog"
    [employeeIdToEdit]="employeeIdToEdit"
    (updateSuccesfully)="onUpdateSuccesfully($event)"
  />
}
